In [1]:
%load_ext autoreload
%autoreload 2

%matplotlib inline

In [3]:
from fastai.imports import *
from fastai.structured import *

from pandas_summary import DataFrameSummary
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from IPython.display import display

from sklearn import metrics

In [4]:
PATH = "data/titanic/"

In [5]:
df_raw = pd.read_feather('tmp/train_titanic')

In [8]:
df, y, nas = proc_df(df_raw, 'Survived')

In [9]:
m = RandomForestClassifier(n_jobs=-1)
m.fit(df, y)
m.score(df,y)

0.9854096520763187

In [10]:
p = pd.read_csv(f'{PATH}test.csv', low_memory=False)
apply_cats(p, df_raw)
pred, _, nas = proc_df(p)

In [11]:
df.shape, pred.shape

((891, 12), (418, 13))

In [14]:
pred.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_na,Fare_na
0,892,3,434,2,34.5,0,0,0,7.8292,0,2,False,False
1,893,3,0,1,47.0,1,0,0,7.0000,0,3,False,False
2,894,2,0,2,62.0,0,0,0,9.6875,0,2,False,False
3,895,3,0,2,27.0,0,0,0,8.6625,0,3,False,False
4,896,3,0,1,22.0,1,1,252,12.2875,0,3,False,False

In [15]:
pred.drop(['Fare_na'], axis=1, inplace=True)

In [16]:
df.shape, pred.shape

((891, 12), (418, 12))

In [17]:
new_preds = m.predict(pred)

In [19]:
pd.DataFrame({'PassengerId':pred.PassengerId, 'Survived':new_preds}).set_index('PassengerId').to_csv('predictions/train_titanic/t.csv')